APP_NAME=NexMarket
APP_VERSION=1.0.0
ENVIRONMENT=production

FRONTEND_URL=https://nexamarketf.netlify.app

DATABASE_URL=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBHOOK_SECRET=

JWT_SECRET=
JWT_ALGORITHM=HS256

ADMIN_CODE=

NEXMARKET_FEE_RATE=0
NEXMARKET_PUBLISH_FEE=0
DEFAULT_CURRENCY=XAF

MONEYFUSION_API_URL=
MONEYFUSION_API_KEY=
MONEYFUSION_RETURN_URL=
MONEYFUSION_PAYIN_WEBHOOK_URL=
MONEYFUSION_WITHDRAW_URL=https://pay.moneyfusion.net/api/v1/withdraw
MONEYFUSION_WITHDRAW_METHODS_URL=https://pay.moneyfusion.net/api/v1/withdraw/methods
MONEYFUSION_PAYOUT_WEBHOOK_URL=
MONEYFUSION_PAYMENT_STATUS_URL=https://pay.moneyfusion.net/paiementNotif
