# =========================================================
# NEXMARKET BACKEND
# =========================================================

# -------------------------
# FASTAPI
# -------------------------

fastapi==0.115.14
uvicorn[standard]==0.34.3


# -------------------------
# DATABASE
# -------------------------

SQLAlchemy==2.0.41
psycopg[binary]==3.2.9


# -------------------------
# CONFIGURATION
# -------------------------

pydantic==2.11.7
pydantic-settings==2.10.1
python-dotenv==1.1.1


# -------------------------
# AUTHENTIFICATION / JWT
# -------------------------

PyJWT==2.10.1


# -------------------------
# HTTP
# -------------------------

httpx==0.28.1


# -------------------------
# TELEGRAM BOT
# -------------------------

python-telegram-bot==22.8


# -------------------------
# FORM / MULTIPART
# -------------------------

python-multipart==0.0.20